@charset "UTF-8";
/* CSS Document */
html {
	background: grey;
	min-height: 100%;
}

a {
	color: black;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#game {
	width: 800px;
	height: 640px;
	background-image:url(space.jpg);
}
